/***********************************DISEÑO DEL BODY***************************************/
body{
    background:linear-gradient(#677A7E,#d7d0d0);
}


/***********************************DISEÑO DEL HEADER*************************************/



/**DISEÑO DE LOGO DTMLJC+**/
.logosrc{
    width: 130px;
    height: 130px;
    margin:10px 0 0 10px;
    box-shadow: 15px 15px 10px #00000076;
    border-radius: 20px;
}

.logosrc:hover{
    opacity:70%;
    transition:1s;
}


/***********************************DISEÑO DEL MAIN*************************************/


main{
    width: fit-content;
    margin:0 auto;
    display: flex;
}



/**DISEÑO CAJA DE ENCRIPTADO INICIAL**/


.encriptado-inicial{
    width: 600px;
    height:781px;
    margin: 0 10px 10px 100px;
}


/**DISEÑO DE LA TEXTAREA INICIAL**/


.mensaje-inicial {
    background:transparent;
    padding:24px;
    width: 400px;
    height: 480px;
    font-size: 30px;
    color: rgb(30 57 105);
    position: relative;
    top: 5%;
    left: 15%;
    outline: none;
    border : 0;
}

.mensaje-inicial::placeholder{
    color: rgb(30 57 105);
    font-size:30px;
    text-shadow: 3px 4px 2px #00000025;
}


/**DISEÑO PARRAFO INDICATIVO A LOS BOTONES**/


.encriptado-inicial p {
    display: inline-block;
    position: relative;
    top: 8%;
    left: 23%;
    color: #000000;
    font-size: 20px;
}


/**DISEÑO DE LOS BOTONES**/


.boton-encriptar, .boton-desencriptar {
    display: block;
    position: relative;
    top: 5%;
    left: 17%;
    width: 355px;
    height: 57px;
    margin: 10px;
    border-radius: 10px;
    color: rgb(30 57 105);
    font-size: 25px;
    border: 0;
    background: linear-gradient(#4a5c60, #d2d1cf);
    box-shadow: 0 0 100px #4d585f;
}


.boton-encriptar:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.boton-desencriptar:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/**DISEÑO CAJA DE ENCRIPTADO FINAL**/


.encriptado-final{
    width: 600px;
    height:781px;
    margin: 0 0 10px 250px; 
    border-radius: 15px; 
    background:no-repeat url(imagenes/dragon-removebg-preview.png),linear-gradient(#4a5c60,#aba7a0);
    background-position:bottom 1px right -10px;
    background-size:260px ;
    box-shadow: 0 0 10px 5px #4d585f;
    border: 0; 
}


.encriptado-final:hover{
    cursor:progress;
}


/**DISEÑO DEL LA TEXTAREA FINAL**/


.mensaje-final{
    background:transparent;
    padding: 24px;
    width: 400px;
    height: 480px;
    font-size: 30px;
    color:#FFFFFF;
    position:relative;
    top:5%;
    left:15%;
    outline: none;
    border : 0; 
}


.mensaje-final:hover{
    cursor:progress;
}



/**DISEÑO DEL TITULO h1 Y DEL PARRAFO**/


.encriptado-final h1 {
    display: inline-block;
    position: relative;
    width: 300px;
    text-align: center;
    margin: 100px 0 0 90px;
    color: rgb(30 57 105);
    font-size: 20px;
}



.encriptado-final p {
    display: inline-block;
    position: relative;
    width: 300px;
    text-align: center;
    margin: 5px 0 0 89px;
    color: rgb(30 57 105);
    font-size: 18px;
}



/**DISEÑO DEL BOTON COPIAR**/

.boton-copiar{
    display: block;
    position: relative;
    top: 16%;
    left: 17%;
    width: 355px;
    height: 57px;
    margin: 10px;
    border-radius: 10px;
    color: rgb(30 57 105);
    font-size: 25px;
    border: 0;
    background: linear-gradient(#4a5c60, #d2d1cf);
    box-shadow: 0 0 100px #4d585f;
}




/***********************************DISEÑO DEL FOOTER*************************************/


footer{
    
    
    height: 290px;
    background-image: url(imagenes/FOND.JPG);
   
    
}


.pie-pagina{
    display:flex;
    place-items: center;
    width: 568px;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: 80px;   
}


.logoAlura {
    width: 35px;
    height: 35px;
    padding: 0 10px 0 15px;       
}

footer p {
    display: inline-block;
    color: #FFFFFF;  
}







/**************************DISEÑO PARA OTROS DISPOSITIVOS********************************/

@media screen and (max-width:1280px){

    main{
         display:grid;
    }

    .encriptado-inicial,.encriptado-final{
        margin:15px;
    }

}

@media screen and (max-width:625px){
    footer{
        width: 626px;
    }

    .encriptado-inicial{
        margin:29px;
    }

    .encriptado-final{
        margin:20px;
    }

   

}



/**DTMLJC+**/